* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
}
h1 {
    font-size: 70px;
}
.top {
    display: flex;
    background-image: url(/assets/frame1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.first-half {
    margin-left: 10%;
    margin-top: 12%;
}
.second-half {
    margin-right: 5%;
}
.third-half {
    margin-left: 5%;
}

#blueviolet {
    color: blueviolet;
}
#intro {
    font-size: 20px;
    color: rgb(82, 54, 11);
    margin-bottom: 35px;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(violet, blueviolet);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
}
.mid {
    padding-top: 20px;
    display: flex;
    background-image: url(/assets/frame2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#woman1 {
    overflow: hidden;
}
#woman2 {
    max-width: 50%;
}